<!DOCTYPE html>
<html>
  <head>
    <meta httpequiv="ContentType" content="text/html;charset=utf8" />
    <title>新規作成</title>
  </head>
  <body>
    <form method="POST" action="/create" id="create_form">
      <p>初期投資額： <input type="number" name="initial_investment" value="" />万円</p>
      <p>毎月の積立額： <input type="number" name="monthly_accumulation" value="" />万円</p>
      <p>積立年数： <input type="number" name="year" value="" />年</p>
      <p>想定利回り： <input type="number" name="rate" value="" />%</p>
      <p>
        為替：
        <select name="exchange_order">
          <option value="dollar">ドル</option>
          <option value="yen">日本円</option>
        </select>
      </p>
    </form>
    <p>
      <input type="submit" form="create_form" value="作成" />
      <a href="/"><input type="button" value="戻る" /></a>
    </p>
    <p>想定資産額：{{.result}}万円</p>
    <p>想定為替：{{.f}}</p>
    <p>
      <a href="/"><input type="button" value="戻る" /></a>
    </p>
  </body>
</html>
