<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/charts.css/dist/charts.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="chart-style.css" />
    <!-- chart-style.cssへのパス -->
  </head>
  <body>
    <form method="POST" action="/get/world" id="create_form"></form>
    <p>
      投資対象：
      <select name="stock">
        <option value="sp_500">S&P500(米国)</option>
        <option value="world_stock">全世界株式指数</option>
      </select>
    </p>
    <p>
      投資対象：
      <select name="currency">
        <option value="dollar">ドル</option>
        <option value="yen">円</option>
      </select>
    </p>
    <div>投資年数：42年9ヶ月</div>
    <p>
        <input type="submit" form="create_form" value="作成" />
        <a href="/"><input type="button" value="戻る" /></a>
      </p>
    </form>
    </body>

    <div>
      {{ range .totalMoney }}
      <div>{{ . }}</div>
      {{ end }}
    </div>
å
    <div class="chart-container">
      <canvas id="myChart" class="canvas-chart"></canvas>
    </div>

    <script>
        var labels = [];
        var data = [];
        {{ range $index, $_ := .totalMoney }}
          labels.push("Month " + String({{$index}} + 1));
          data.push({{ . }});
        {{ end }}


      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [
            {
              label: 'Investment Growth',
              data: data,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
  </body>
</html>
